* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.contact {
    padding: 20px;
    background: #222;

}

.contact h1, .contact p {
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

input, textarea {
    padding: 10px;
    background: #333;
    border: none;
    color: white;
}

button {
    padding: 10px 20px;
    background: #555;
    color: white;
    border: none;
    cursor: pointer;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contact-info div {
    background: #333;
    padding: 20px;
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #222;
    color: #fff;
}

.image-container img {
    width: 100%;
    height: auto;
}

#contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
}

#lateral {
    width: 30%;  /* Este será el ancho que tendrá tu columna */
    float:right; /* Aquí determinas de lado quieres quede esta "columna" */
}

#principal {
    width: 70%;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .contact3 {
    background-color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Centra las columnas horizontalmente */
    align-items: center;    /* Centra las columnas verticalmente */
    height: 100%;           /* Opcional: Ajustar según la altura deseada */
}

.contact3 > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px;          /* Espacio dentro de cada columna */
}




