body{
    background-color: #1a1a19;
    overflow-x: hidden;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: auto;
    height: auto;
    margin-top: 3cm;
}
.contenedor h1{
    font-size: 3rem;
}

.contenedor h2{
    font-size: x-large;
    position: relative;
    bottom: 25px;
}

.Apartado-email {
    border: 2px solid #1a1a19;
    padding: 10px;
    display: inline-block;
    width: auto;
    height: 2cm;
    text-align: left;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    position: relative;
}

.Registro-email {
    position: relative;
    width: 100%;
}

.Registro-email input{
    background-color: #1a1a19;
    border: none;
    border-style: solid;
    border-color: #464542;
    border-width: 1px;
    padding: 5px;
    padding-left: 10px;
    height: 45px;
    width: 15cm;
    font-size: medium;
    outline: none;  
    margin-top: 10px;
}

.Registro-email i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
}

.Apartado-contraseña {
    border: 2px solid #1a1a19;
    padding: 10px;
    display: inline-block;
    width: auto;
    height: 2cm;
    text-align: left;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    position: relative;
}

.Registro-contraseña {
    position: relative;
    width: 100%;
}

.Registro-contraseña input{
    background-color: #1a1a19;
    border: none;
    border-style: solid;
    border-color: #464542;
    border-width: 1px;
    padding: 5px;
    padding-left: 10px;
    height: 45px;
    width: 15cm;
    font-size: medium;
    outline: none;  
    margin-top: 10px;
}

.Registro-contraseña i {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: #fff;
}

input[type="email"] {
    color: #9f9d9d; 
}

input[type="password"] {
    color: #9f9d9d;
}

.boton-registro{
    margin: auto;
    background-color: black;
    border: none;
    color: #fff;
    padding: 10px;
    width: 14.5cm;
    height: 1cm;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: large;
    position: relative;
    bottom: 5px;
}

hr {
    border: none;
    border-top: 2px solid #333; 
    width: 50%; 
    margin: auto; 
    margin-top: 20px; 
}

a {
    margin-left: 5px;
    text-decoration: none; 
    color: inherit; 
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}
